argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.9.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
distlib==0.4.0
Django==5.2.4
django-allauth==65.11.2
filelock==3.18.0
idna==3.10
platformdirs==4.3.8
psycopg2-binary==2.9.10
pycparser==2.22
python-decouple==3.8
requests==2.32.5
sqlparse==0.5.3
urllib3==2.5.0
virtualenv==20.31.2
